body{
  background-color:black;
  margin: 2.5%;
}
.heading{
  font-family: 'Playfair Display', sans-serif;
    color:#e63946;
    font-size: 45px;
}
.sub-heading{
  font-family: 'Playfair Display', serif;
  color:#e63946;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.row1{
  width: 40%;
}
.row2{
  width: 55%;
  float: right;
}
.pro{
  color: white;
  text-align: center;
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
padding: 5%;}