body{
    background: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.829)), url("./components/black.jpg");
    background-size:cover;         
    background-position:top;
    background: cover;
    background-repeat: no-repeat;
                                  
}
.about{
    margin: 4%;
}
.container{ 
    width: 100%;

}
.header{
    text-align: left;
    font-family: 'Playfair Display', serif;
    color:red;
}

#how{
    font-family: 'Playfair Display', serif;
    color:red;
}
p{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color:white;

}
.row{
    float: left;
    width: 100%;
    margin-left:15%;
}
.row2{
    width: 50%;
    border:3px;
    float: right;
}